<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>rave outfits,barbie outfits,adam sandler outfits,cowgirl outfit outfits-GPT</title>
  <meta name="description" content="">
  <link rel="icon" type="image/x-icon" href="dist/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/style.css">
  <link rel="stylesheet" href="dist/css/head.css">
  <script src="https://unpkg.com/animejs@2.2.0/anime.min.js"></script>
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
</head>

<body class="is-boxed has-animations">
  <div class="body-wrap boxed-container">
    <header class="z-50">
      <nav class="mx-auto flex max-w-7xl items-center justify-between px-4 py-4 md:py-8 lg:px-8" aria-label="Global">
        <div class="flex header lg:flex-1"><a class="flex items-center gap-x-2" href="/"><img class="h-16 w-16"
              src="/images/logo.png" alt="">
            <h1 class="text-xl font-medium">OutfitsBot</h1>
          </a></div>
        <div class="flex lg:hidden"><button id="open-main-menu" type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"><span
              class="sr-only">Open main menu</span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon"
              class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5">
              </path>
            </svg></button></div>
        <div class="hidden lg:flex lg:gap-x-12"><a href="/" target="_self"
            class="text-link text-sm font-semibold leading-6 text-gray-900 ">Home</a>
          <a href="/" target="_self" class="text-link text-sm font-semibold leading-6 text-gray-900 text-primary">Market</a>
          <a href="/" target="_self" class="text-link text-sm font-semibold leading-6 text-gray-900 ">Try</a>
          <a href="/price.html" target="_self" class="text-link text-sm font-semibold leading-6 text-gray-900 ">Pricing</a>
          </div>

        <div class="hidden user-warper lg:flex-1 lg:justify-end items-center gap-x-4"><a
            href="/pricing">Credits:<span class="text-primary ml-2 cursor-pointer">10</span></a>
          <div class="flex user items-center gap-x-4 cursor-pointer" type="button" id="radix-:r0:" aria-haspopup="menu"
            aria-expanded="false" data-state="closed"><span
              class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"><img
                class="aspect-square h-full w-full"
                src=""></span><span class="user-name"></span>
          </div>
        </div>

        <div class="hidden md:flex login-btn cursor-pointer lg:flex-1 lg:justify-end  items-center gap-x-4"><button
            class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-md text-link text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-sm">Sign
            in</button></div>
      </nav>

    </header>
    <div
      class="fixed hidden inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 lg:hidden"
      id="headlessui-dialog-panel" data-headlessui-state="open">
      <div class="flex items-center justify-between"><a href="#" class="-m-1.5 p-1.5"><span class="sr-only">Your
            Company</span><img class="h-8 w-auto" src="https://heybeauty.ai/logo.png" alt=""></a><button type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700" id="close-menu"><span class="sr-only">Close menu</span><svg
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true" data-slot="icon" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
          </svg></button></div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6"><a href="/"
              class="text-link -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Home</a><a
              href="/market"
              class="text-link -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Market</a><a
              href="/try-on"
              class="text-link -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Try</a><a
              href="/pricing"
              class="text-link -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Pricing</a>
          </div>
          <div class="py-6 auth-sm">
            <div class="hidden user items-center gap-x-4 cursor-pointer" type="button" id="radix-:r3:" aria-haspopup="menu"
              aria-expanded="false" data-state="closed"><span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"><img
                  class="aspect-square h-full w-full"
                  src=""></span><span class="user-name"></span>
            </div>
            <button
              class="hidden login-btn  items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-sm">Sign
              in</button>
          </div>
        </div>
      </div>
    </div>
    <header class="site-header">
      <div class="header-shape header-shape-1">
        <svg width="337" height="222" viewBox="0 0 337 222" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1="55.434%" x2="50%" y2="0%" id="header-shape-1">
              <stop stop-color="#E0E1FE" stop-opacity="0" offset="0%" />
              <stop stop-color="#E0E1FE" offset="100%" />
            </linearGradient>
          </defs>
          <path d="M1103.21 0H1440v400h-400c145.927-118.557 166.997-251.89 63.21-400z" transform="translate(-1103)"
            fill="url(#header-shape-1)" fill-rule="evenodd" />
        </svg>
      </div>
      <div class="header-shape header-shape-2">
        <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
          <defs>
            <linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="header-shape-2">
              <stop stop-color="#FF3058" offset="0%" />
              <stop stop-color="#FF6381" offset="100%" />
            </linearGradient>
          </defs>
          <circle class="anime-element fadeup-animation" cx="64" cy="64" r="64" fill="url(#header-shape-2)"
            fill-rule="evenodd" />
        </svg>
      </div>
      <div class="container">
        <div class="site-header-inner">
          <div class="brand header-brand">
            <h1 class="m-0">
              <a href="#">
                <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                  <title>April</title>
                  <defs>
                    <linearGradient x1="114.674%" y1="39.507%" x2="-52.998%" y2="39.507%" id="logo-a">
                      <stop stop-color="#8D92FA" offset="0%" />
                      <stop stop-color="#8D92FA" stop-opacity="0" offset="100%" />
                    </linearGradient>
                    <linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="logo-b">
                      <stop stop-color="#FF3058" offset="0%" />
                      <stop stop-color="#FF6381" offset="100%" />
                    </linearGradient>
                    <linearGradient x1="32.716%" y1="-20.176%" x2="32.716%" y2="148.747%" id="logo-c">
                      <stop stop-color="#FF97AA" offset="0%" />
                      <stop stop-color="#FF97AA" stop-opacity="0" offset="100%" />
                    </linearGradient>
                  </defs>
                  <g fill="none" fill-rule="evenodd">
                    <path
                      d="M31.12 7.482C28.327 19.146 19.147 28.326 7.483 31.121A12.04 12.04 0 0 1 .88 24.518C3.674 12.854 12.854 3.674 24.518.879a12.04 12.04 0 0 1 6.603 6.603z"
                      fill="#312ECA" />
                    <path
                      d="M28.874 3.922l-24.91 24.99a12.026 12.026 0 0 1-3.085-4.394C3.674 12.854 12.854 3.674 24.518.879a12.025 12.025 0 0 1 4.356 3.043z"
                      fill="url(#logo-a)" />
                    <g opacity=".88">
                      <path
                        d="M31.12 24.518a12.04 12.04 0 0 1-6.602 6.603C12.854 28.326 3.674 19.146.879 7.482A12.04 12.04 0 0 1 7.482.88c11.664 2.795 20.844 11.975 23.639 23.639z"
                        fill="url(#logo-b)" />
                      <path
                        d="M24.518 31.12C12.854 28.327 3.674 19.147.879 7.483A12.015 12.015 0 0 1 3.46 3.57L28.47 28.5a12.016 12.016 0 0 1-3.951 2.62z"
                        fill="url(#logo-c)" />
                    </g>
                  </g>
                </svg>
              </a>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="hero-inner">
            <div class="hero-copy">
              <h1 class="hero-title mt-0">Upload a full-body photo, and OUTFITS-GPT will provide a reasonable outfit
                suggestion.</h1>
              <p class="hero-paragraph">Welcome to OUTFITS-GPT, your ultimate digital stylist destination! Our platform
                is thoughtfully designed to revolutionize the way you dress, combining the power of advanced AI
                technology with a deep understanding of fashion trends and personal style</p>
              <div class="hero-form field field-grouped">

              </div>
            </div>
            <div class="hero-illustration">
              <div class="hero-shape hero-shape-1">
                <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
                  <circle class="anime-element fadeup-animation" cx="20" cy="20" r="20" fill="#FFD8CD"
                    fill-rule="evenodd" />
                </svg>
              </div>
              <div class="hero-shape hero-shape-2">
                <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg" style="overflow:visible">
                  <circle class="anime-element fadeup-animation" cx="44" cy="44" r="44" fill="#FFD2DA"
                    fill-rule="evenodd" />
                </svg>
              </div>
              <div class="hero-main-shape">
                <img style="width: 940px; height: 647px; max-width: 940px;" src="/dist/images/bg.png" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features section">
        <div class="container">
          <div class="features-inner section-inner">
            <div class="features-header text-center">
              <div class="container-sm">
                <h2 class="section-title mt-0">OUTFITS-GPT</h2>
                <p class="section-paragraph">At OUTFITS-GPT, we believe that everyone deserves to look and feel their
                  absolute best every day. Say goodbye to wardrobe dilemmas and hello to effortlessly chic outfits
                  tailored just for you. Whether you're preparing for a casual day out, a formal event, or looking to
                  revamp your entire wardrobe, our intelligent system has got you covered</p>
              </div>
            </div>
            <div class="features-wrap">
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon" style="background:#FFD2DA;">
                    <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="nonzero">
                        <path d="M43 47v7a13 13 0 0 0 13-13v-7c-7.18 0-13 5.82-13 13z" fill="#FF6381" />
                        <path d="M32 41v4a9 9 0 0 0 9 9v-4a9 9 0 0 0-9-9z" fill="#FF97AA" />
                      </g>
                    </svg>
                  </div>
                  <h4 class="feature-title h3-mobile mb-8">Snap & Upload</h4>
                  <p class="text-sm">Start by uploading a full-body photo of yourself. It's like having a personal
                    fitting room at your fingertips!</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon" style="background:#FFD8CD;">
                    <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="nonzero">
                        <path
                          d="M54 56h-9a2 2 0 0 1-2-2V43a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2zm-9-13v10h9V43h-9z"
                          fill="#FCAC96" />
                        <path d="M41 50h-7V34h14v5h2v-5a2 2 0 0 0-2-2H34a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h7v-4z"
                          fill="#FC8464" />
                      </g>
                    </svg>
                  </div>
                  <h4 class="feature-title h3-mobile mb-8">Personalized Suggestions</h4>
                  <p class="text-sm">Our AI algorithms analyze your body shape, skin tone, and even the occasion you're
                    dressing for to suggest outfits that flatter and accentuate your unique features</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon" style="background:#C6FDF3;">
                    <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="nonzero">
                        <circle fill="#1ADAB7" cx="38" cy="50" r="5" />
                        <path d="M53 42h2v-8a1 1 0 0 0-1-1h-8v2h5.586l-8.293 8.293a1 1 0 1 0 1.414 1.414L53 36.414V42z"
                          fill="#1ADAB7" />
                        <path fill="#83F0DD"
                          d="M34 41.414l3-3 3 3L41.414 40l-3-3 3-3L40 32.586l-3 3-3-3L32.586 34l3 3-3 3zM55.414 48L54 46.586l-3 3-3-3L46.586 48l3 3-3 3L48 55.414l3-3 3 3L55.414 54l-3-3z" />
                      </g>
                    </svg>
                  </div>
                  <h4 class="feature-title h3-mobile mb-8">Trendy yet Personal</h4>
                  <p class="text-sm">We keep up with the latest fashion trends, ensuring that our recommendations are
                    not only stylish but also personalized to align with your individual taste and preferences.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon" style="background:#E0E1FE;">
                    <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="nonzero">
                        <path
                          d="M41 42h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1zM41 55h-7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1z"
                          fill="#4950F6" />
                        <path fill="#8D92FA" d="M45 34h10v2H45zM45 39h10v2H45zM45 47h10v2H45zM45 52h10v2H45z" />
                      </g>
                    </svg>
                  </div>
                  <h4 class="feature-title h3-mobile mb-8">Virtual Try</h4>
                  <p class="text-sm">Visualize how different outfits would look on you without ever having to physically
                    try them on. Our advanced imaging technology makes this possible</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonials section">
        <div class="testimonials-shape testimonials-shape-1">
          <svg width="280" height="280" viewBox="0 0 280 280" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="testimonials-shape-1">
                <stop stop-color="#261FB6" offset="0%" />
                <stop stop-color="#4950F6" offset="100%" />
              </linearGradient>
            </defs>
            <circle cx="140" cy="685" r="140" transform="translate(0 -545)" fill="url(#testimonials-shape-1)"
              fill-rule="evenodd" />
          </svg>
        </div>
        <div class="testimonials-shape testimonials-shape-2">
          <svg width="125" height="107" viewBox="0 0 125 107" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <circle fill="#C6FDF3" cx="48" cy="59" r="48" />
              <path
                d="M58.536 39.713c0-6.884 1.72-14.007 5.163-21.368 3.443-7.36 8.167-13.458 14.173-18.292l11.645 7.91c-3.589 4.98-6.262 10.016-8.02 15.106S78.86 33.598 78.86 39.384v13.623H58.536V39.713z"
                fill="#55EBD0" />
              <path
                d="M93.252 39.713c0-6.884 1.722-14.007 5.164-21.368 3.442-7.36 8.166-13.458 14.172-18.292l11.646 7.91c-3.589 4.98-6.262 10.016-8.02 15.106s-2.637 10.529-2.637 16.315v13.623H93.252V39.713z"
                fill="#1ADAB7" />
            </g>
          </svg>
        </div>
        <div class="testimonials-shape testimonials-shape-3">
          <svg width="48" height="48" viewBox="0 0 48 48" mlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="testimonials-shape-3">
                <stop stop-color="#FF3058" offset="0%" />
                <stop stop-color="#FF6381" offset="100%" />
              </linearGradient>
            </defs>
            <circle cx="24" cy="434" r="24" transform="translate(0 -410)" fill="url(#testimonials-shape-3)"
              fill-rule="evenodd" />
          </svg>
        </div>
        <div class="container">
          <div class="testimonials-inner section-inner">
            <h2 class="section-title mt-0 text-center">Testimonials</h2>
            <div class="testimonials-wrap">
              <div class="testimonial text-xs is-revealing">
                <div class="testimonial-inner">
                  <div class="testimonial-main">
                    <div class="testimonial-header">
                      <img class="mb-16" src="/dist/images/testimonial-01.png" alt="Testimonial">
                    </div>
                    <div class="testimonial-body">
                      <p class="mb-0">Since using OUTFITS-GPT, I no longer stand puzzled in front of my wardrobe every
                        morning! It always recommends outfits perfectly suited to my body type and style, giving me the
                        confidence to step out every day. The best part is how quickly it finds suitable looks for
                        different occasions – it’s truly my fashion sidekick!</p>
                    </div>
                  </div>
                  <div class="testimonial-footer">
                    <div class="testimonial-link">
                      <a href="#">@xiaohu</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial text-xs is-revealing">
                <div class="testimonial-inner">
                  <div class="testimonial-main">
                    <div class="testimonial-header">
                      <img class="mb-16" src="dist/images/testimonial-02.png" alt="Testimonial">
                    </div>
                    <div class="testimonial-body">
                      <p class="mb-0">As a working professional, maintaining a polished yet fashionable image is crucial
                        for me. OUTFITS-GPT not only saves me time selecting outfits but also teaches me clever ways to
                        mix and match, making my work attire anything but mundane. Now, I’m more confident in my
                        dressing, and I’ve received plenty of compliments from colleagues!</p>
                    </div>
                  </div>
                  <div class="testimonial-footer">
                    <div class="testimonial-link">
                      <a href="#">@Emily Smith</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial text-xs is-revealing">
                <div class="testimonial-inner">
                  <div class="testimonial-main">
                    <div class="testimonial-header">
                      <img class="mb-16" src="/dist/images/testimonial-03.png" alt="Testimonial">
                    </div>
                    <div class="testimonial-body">
                      <p class="mb-0">As an environmentalist, I love reusing clothes but dread looking repetitive.
                        OUTFITS-GPT helps me creatively mix my existing pieces, giving old garments a fresh lease on
                        life. It proves sustainable fashion can be fun too – I’m so grateful for this platform!</p>
                    </div>
                  </div>
                  <div class="testimonial-footer">
                    <div class="testimonial-link">
                      <a href="#">@Liliane Dubois</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="newsletter section text-light">
        <div class="container-sm">
          <div class="newsletter-inner section-inner">
            <div class="newsletter-header text-center">
              <h2 class="section-title mt-0">Stay in the know</h2>
              <p class="section-paragraph">Lorem ipsum is common placeholder text used to demonstrate the graphic
                elements of a document or visual presentation.</p>
            </div>
            <div class="footer-form newsletter-form field field-grouped">
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer">
      <div class="container">
        <div class="site-footer-inner has-top-divider">
          <div class="brand footer-brand">
            <a href="#">
              <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                <title>April</title>
                <defs>
                  <linearGradient x1="114.674%" y1="39.507%" x2="-52.998%" y2="39.507%" id="logo-footer-a">
                    <stop stop-color="#8D92FA" offset="0%" />
                    <stop stop-color="#8D92FA" stop-opacity="0" offset="100%" />
                  </linearGradient>
                  <linearGradient x1="93.05%" y1="19.767%" x2="15.034%" y2="85.765%" id="logo-footer-b">
                    <stop stop-color="#FF3058" offset="0%" />
                    <stop stop-color="#FF6381" offset="100%" />
                  </linearGradient>
                  <linearGradient x1="32.716%" y1="-20.176%" x2="32.716%" y2="148.747%" id="logo-footer-c">
                    <stop stop-color="#FF97AA" offset="0%" />
                    <stop stop-color="#FF97AA" stop-opacity="0" offset="100%" />
                  </linearGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M31.12 7.482C28.327 19.146 19.147 28.326 7.483 31.121A12.04 12.04 0 0 1 .88 24.518C3.674 12.854 12.854 3.674 24.518.879a12.04 12.04 0 0 1 6.603 6.603z"
                    fill="#312ECA" />
                  <path
                    d="M28.874 3.922l-24.91 24.99a12.026 12.026 0 0 1-3.085-4.394C3.674 12.854 12.854 3.674 24.518.879a12.025 12.025 0 0 1 4.356 3.043z"
                    fill="url(#logo-footer-a)" />
                  <g opacity=".88">
                    <path
                      d="M31.12 24.518a12.04 12.04 0 0 1-6.602 6.603C12.854 28.326 3.674 19.146.879 7.482A12.04 12.04 0 0 1 7.482.88c11.664 2.795 20.844 11.975 23.639 23.639z"
                      fill="url(#logo-footer-b)" />
                    <path
                      d="M24.518 31.12C12.854 28.327 3.674 19.147.879 7.483A12.015 12.015 0 0 1 3.46 3.57L28.47 28.5a12.016 12.016 0 0 1-3.951 2.62z"
                      fill="url(#logo-footer-c)" />
                  </g>
                </g>
              </svg>
            </a>
          </div>
          <ul class="footer-links list-reset">
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">FAQ's</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
          </ul>
          <ul class="footer-social-links list-reset">
            <li>
              <a href="#">
                <span class="screen-reader-text">Facebook</span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                    fill="#FFF" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="screen-reader-text">Twitter</span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                    fill="#FFF" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="screen-reader-text">Google</span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                    fill="#FFF" />
                </svg>
              </a>
            </li>
          </ul>
          <div class="footer-copyright">&copy; 2024 April, all rights reserved</div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/dist/js/main.min.js"></script>
  <script src="/dist/js/header.js?v1"></script>
</body>

</html>